.forgotPassword {
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;
	padding: 1vmax;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../../../public/bg.jpg");
	background-position: center;
	background-size: cover;
}

.forgotPasswordForm {
	background-color: rgb(252, 252, 252);
	width: 33%;
	height: 60vh;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 2vmax;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo_container {
	box-sizing: border-box;
	width: 95px;
	height: 90px;
	padding: 5px;
	background-color: #fce959;
	border: 1px solid #f7f7f8;
	border-radius: 6px;
}

.subtitle {
	margin-top: 2vmax;
	/* font-size: 3vmax; */
	max-width: 80%;
	text-align: center;
	line-height: 1.1rem;
	color: #8b8e98;
}

.input_container {
	/* width: 80% !important; */
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 1vmax;
}

.input_label {
	font-size: 0.75rem;
	color: #8b8e98;
	font-weight: 600;
}

.input_field {
	width: auto;
	height: 40px;
	padding: 0 0 0 40px;
	border-radius: 7px;
	outline: none;
	border: 1px solid #e5e5e5;
	filter: drop-shadow(0px 1px 0px #efefef)
		drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
	transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
	border: 1px solid transparent;
	box-shadow: 0px 0px 0px 2px #242424;
	background-color: transparent;
}

@media screen and (max-width: 600px) {
	.forgotPasswordForm {
		width: 100%;
	}

	.forgotPasswordInputs {
		padding: 4vw 8vw;
		margin: 2vmax;
		font: 100 1.2rem "Roboto", sans-serif;
		margin: 4vw;
	}
}
