.updatePassword {
	height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1vmax 0.5vmax;
	box-sizing: border-box;
	background-image: url("../../../public/bg.jpg");
	background-position: center;
	background-size: cover;
}

.forError {
	position: absolute;
	top: 12%;
}

.updatePasswordForm {
	background-color: #fff;
	width: 30%;
	height: 50vh;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 2vmax;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(145, 92, 182, 0.197);
}

.updatePasswordInputs {
	box-sizing: border-box;
	padding: 0.7vmax 1.2vmax;
	width: 80%;
	border-radius: 10px;
	border: 1px solid rgba(204, 204, 204, 0.3);
	margin: 0.6vmax;
	font: 100 1.2rem "IBM Plex Sans", sans-serif;
	outline: none;
	transition: all 0.4s ease-in-out;
}

.updatePasswordInputs:focus {
	box-shadow: 0 5px 10px rgba(145, 92, 182, 0.197);
}

@media screen and (max-width: 600px) {
	.updatePasswordForm {
		width: 100%;
	}

	.updatePasswordInputs {
		padding: 4vw 8vw;
		margin: 2vmax;
		font: 100 1.2rem "Roboto", sans-serif;
		margin: 4vw;
	}
}
