.resetPassword {
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;
	padding: 1vmax;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../../../public/bg.jpg");
	background-position: center;
	background-size: cover;
}

.resetPasswordForm {
	background-color: rgb(252, 252, 252);
	width: 33%;
	height: 60vh;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 1vmax;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resetPasswordInputs {
	box-sizing: border-box;
	padding: 0.7vmax 1.2vmax;
	width: 80%;
	border-radius: 10px;
	border: 1px solid rgba(204, 204, 204, 0.3);
	margin: 0.6vmax;
	font: 100 1.2rem "IBM Plex Sans", sans-serif;
	outline: none;
	transition: all 0.4s ease-in-out;
}

.resetPasswordForm > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.342);
	margin: 2vmax;
	transition: all 0.25s ease-in-out;
}

.resetPasswordForm > a:hover {
	text-decoration: underline;
	color: rgb(93, 93, 238);
}

.errorBlock {
	position: absolute;
	bottom: 10%;
}

@media screen and (max-width: 600px) {
	.resetPasswordForm {
		width: 100%;
	}

	.resetPasswordInputs {
		padding: 4vw 8vw;
		margin: 2vmax;
		font: 100 1.2rem "Roboto", sans-serif;
		margin: 4vw;
	}

	.resetPasswordForm > a {
		align-self: center;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.342);
	}
}
