.parent {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20vmax;
	height: 10vmax;
}

.parent img {
	width: 100%;
}
